bottomleftStartOppener {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 6px;
    z-index: 100;
}

bottomleftStart {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 50px;
    transition: opacity .1s;
    z-index: 101;
}

bottomleftStart img {
    height: 100%;
    width: 100%;
}
